@use "./utils/index" as *;

.track-header {
  background: url("../svg/headerbg.svg") no-repeat center / cover;
  padding: 96px 0;

  .text {
    @include sectionPadding;
    h1 {
      color: var(--white);
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 120% */
      letter-spacing: -0.8px;
    }

    p {
      max-width: 360px;
      margin: auto;
      color: #d9d9d9;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .form-container {
    @include sectionPadding;

    form {
      max-width: 585px;
      padding: 24px;
      border-radius: 24px;
      background: #fff;
      margin: auto;
      button {
        @include button-primary;
        width: 100%;
      }
    }
  }
}

.show-track-status {
  @include sectionPadding;
  & {
    margin-top: 80px;
    margin-bottom: 120px;
  }

  .track-container {
    display: block;
    margin: auto;
    border-radius: 24px;
    border: 1px solid #ececec;
    background: #fff;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.04);
    padding: 24px;
    max-width: 585px;
    @include mq(768px) {
      padding: 16px;
    }
    h2 {
      color: #06080e;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.48px;
      margin-bottom: 24px;
      @include mq(768px) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .track-program-details {
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid #ececec;

      .flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }

        .light {
          color: #636363;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .bold {
          color: #06080e;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        .status {
          padding: 4px 8px;
          border-radius: 6px;
          color: var(--white);
          color: #fff;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          &.pending {
            background: #ffb74d;
          }
          &.completed {
            background: #13cf78;
          }
          &.rejected {
            background: #cf2913;
          }
        }
      }
    }

    .track-status-description {
      border-radius: 12px;
      background: rgba(217, 217, 217, 0.21);
      padding: 20px;
      margin-bottom: 16px;
      p {
        color: #06080e;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        &.title {
          margin-bottom: 8px;
        }
      }
    }

    .support {
      color: #636363;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
      a {
        color: #06080e;
        text-decoration: underline;
      }
    }

    a.explore {
      @include button-primary;
      width: 100%;
    }
  }

  .missing-track-container {
    display: none;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #ececec;
    background: #fff;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.04);
    max-width: 512px;
    margin: auto;
    @include mq(768px) {
      padding: 16px;
    }
    img {
      display: block;
      margin: auto;
      margin-bottom: 12px;
      @include mq(768px) {
        width: 100px;
      }
    }
    h3 {
      color: #06080e;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 12px;
      @include mq(768px) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    p {
      margin-bottom: 16px;
      color: #636363;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.16px;

      @include mq(768px) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    a {
      @include button-primary;
      width: 100%;
    }
  }
}
