.theme {
  --primary: #2e3a6e;
  --white: #ffffff;
  --black: #000000;
  --black01: #06080e;
  --grey01: #636363;
  --grey02: #3f3f3f;
  --error: #d90429;
  --red0: #ff002c;
  --red01: #c20808;
  --red02: #ae001e;
  --red03: #713e47;
}
