.theme {
  --primary: #2e3a6e;
  --white: #ffffff;
  --black: #000000;
  --black01: #06080e;
  --grey01: #636363;
  --grey02: #3f3f3f;
  --error: #d90429;
  --red0: #ff002c;
  --red01: #c20808;
  --red02: #ae001e;
  --red03: #713e47;
}

.privacy-header {
  background: url("../svg/headerbg.svg") no-repeat center/cover;
  padding: 96px 0;
}
.privacy-header .text {
  padding: 14px 80px;
  max-width: 1440px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .privacy-header .text {
    padding: 10px 16px;
  }
}
.privacy-header .text h1 {
  color: var(--white);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.8px;
}
.privacy-header .text p {
  max-width: 360px;
  margin: auto;
  color: #d9d9d9;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.privacy-header .form-container {
  padding: 14px 80px;
  max-width: 1440px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .privacy-header .form-container {
    padding: 10px 16px;
  }
}
.privacy-header .form-container form {
  max-width: 585px;
  padding: 24px;
  border-radius: 24px;
  background: #fff;
  margin: auto;
}
.privacy-header .form-container form button {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 48px;
  min-width: 130px;
  outline: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
}
.privacy-header .form-container form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
}

.privacy-content {
  padding: 14px 80px;
  max-width: 1440px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .privacy-content {
    padding: 10px 16px;
  }
}
.privacy-content {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  width: 100%;
  gap: 80px;
}
@media screen and (max-width: 1000px) {
  .privacy-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.privacy-content .section-links {
  border-radius: 24px;
  background: #f4f6ff;
  padding: 32px;
  position: sticky;
  top: 100px;
  height: -moz-max-content;
  height: max-content;
  width: 376px;
  flex-shrink: 0;
}
@media screen and (max-width: 1000px) {
  .privacy-content .section-links {
    display: none;
  }
}
.privacy-content .section-links a {
  margin-bottom: 24px;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  gap: 8px;
  text-decoration: none;
}
.privacy-content .section-links a:last-child {
  margin-bottom: 0;
}
.privacy-content .section-content {
  flex: 1;
}
.privacy-content .section-content a {
  color: #2e3a6e;
}
.privacy-content .section-content .bold {
  font-weight: 600;
}
.privacy-content .section-content .section {
  margin-bottom: 48px;
}
.privacy-content .section-content .section:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .privacy-content .section-content .section {
    margin-bottom: 32px;
  }
}
.privacy-content .section-content h2 {
  margin-bottom: 8px;
  color: #06080e;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}
@media screen and (max-width: 768px) {
  .privacy-content .section-content h2 {
    font-size: 18px;
    letter-spacing: -0.18px;
  }
}
.privacy-content .section-content p {
  color: #636363;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
@media screen and (max-width: 768px) {
  .privacy-content .section-content p {
    font-size: 14px;
    line-height: 22px;
  }
}
.privacy-content .section-content p.date {
  margin-bottom: 32px;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 6px;
}
.privacy-content .section-content p.introduction {
  color: #636363;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .privacy-content .section-content p.introduction {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 32px;
  }
}
.privacy-content .section-content ul {
  margin: 12px 0;
  padding-left: 20px;
}
.privacy-content .section-content ul li {
  color: #636363;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  list-style: disc;
}
@media screen and (max-width: 768px) {
  .privacy-content .section-content ul li {
    font-size: 14px;
    line-height: 22px;
  }
}
.privacy-content .section-content .extra-section {
  margin-top: 16px;
}
.privacy-content .section-content .extra-section h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: var(--black);
}
@media screen and (max-width: 768px) {
  .privacy-content .section-content .extra-section h3 {
    font-size: 14px;
    line-height: 22px;
  }
}/*# sourceMappingURL=privacy.css.map */